<br>
<div class="jumbotron">
  <h1>Welcome to toan restaurant website</h1>
  <p>This a place where you cannot find anywhere else in the world, here what we server you online</p>  
</div>

<br>
<br>
<h4 style="text-align: center;">We just server best food</h4>
<br>
<img src="http://lorempixel.com/1200/600/food/" class="img-fluid" style="width: 100%;height: auto">






