<br>
<h1 class="jumbotron">Welcome to Toan's restaurant website</h1>
<p>This a place where you cannot find anywhere else in the world, here what we server you online</p>


<div class="col-lg-2">
  <div class="card">
    <img class="card-img-top img-fluit" src="https://www.flickr.com/photos/suyichai/5912217959/" 
    alt="Card image cap" style="width: 100%; height: auto">
 </div>
</div>
<!-- https://www.flickr.com/photos/suyichai/5912217959/ -->
<div class="col-lg-2">
  <div class="card">
    <img class="card-img-top img-fluit" src="" 
    alt="Card image cap" style="width: 100%; height: auto">
 </div>
</div>

<div class="col-lg-2">
  <div class="card">
    <img class="card-img-top img-fluit" src="" 
    alt="Card image cap" style="width: 100%; height: auto">
 </div>
</div>

<div class="col-lg-2">
  <div class="card">
    <img class="card-img-top img-fluit" src="" 
    alt="Card image cap" style="width: 100%; height: auto">
 </div>
</div>

<!--   <%= link_to "Breakfast", '/sections/1/foods' %>
</div>
<div class="col-lg-3">
  <%= link_to "Lunch", '/sections/2/foods' %>
</div>
<div class="col-lg-3">
  <%= link_to "Dinner", '/sections/3/foods' %>
</div>
<div class="col-lg-3">
  <%= link_to "Drinks", '/sections/4/foods' %>
</div> -->

