<br>
<div class="jumbotron">
  <h1>What we have for you is the best</h1>
</div>


<br>

<div class="col-lg-3">
	<div class="card">
	  <img class="card-img-top img-fluid" style="width: 100%, 
	  heigh: auto" src="http://lorempixel.com/250/250/food/" 
	  alt="Card image cap">
	  <div class="card-block">
	      <%= link_to "Breakfirst", section_foods_path(section_id: 1), class: "nav-link active " %>
	   </div>
	</div>	
</div>

<div class="col-lg-3">
	<div class="card">
	  <img class="card-img-top img-fluid" style="width: 100%, 
	  heigh: auto" src="http://lorempixel.com/250/250/food/" 
	  alt="Card image cap">
	  <div class="card-block">
	      <%= link_to "Lunch", section_foods_path(section_id: 2), class: "nav-link active " %>
	   </div>
	</div>	
</div>

<div class="col-lg-3">
	<div class="card">
	  <img class="card-img-top img-fluid" style="width: 100%, 
	  heigh: auto" src="http://lorempixel.com/250/250/food/" 
	  alt="Card image cap">
	  <div class="card-block">
	      <%= link_to "Dinner", section_foods_path(section_id: 3), class: "nav-link active " %>
	   </div>
	</div>	
</div>

<div class="col-lg-3">
	<div class="card">
	  <img class="card-img-top img-fluid" style="width: 100%, 
	  heigh: auto" src="http://lorempixel.com/250/250/food/" 
	  alt="Card image cap">
	  <div class="card-block">
	      <%= link_to "Drink", section_foods_path(section_id: 4), class: "nav-link active " %>
	   </div>
	</div>	
</div>

