<div class="col-lg-4">
  <div class="card">
    <img class="card-img-top img-fluid image-card" src=<%= food.image_url %> alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">
      <%= link_to food.name, [food.section, food] %>
      </h4>
      <h6 class="success"> $ <%= food.price %>.00</h6>
      <button class="btn btn-success add-cart">Pick</button>
      <p> view <%= food.count %> </p>
    </div>
  </div>
</div>